/* Body element */
body {
    background-color: #FFFFFF;
    color: #084C83;
    }
    .light-mode body {
        background-color: #FFFFFF;
        color: #084C83;
    }
    .el-drawer {
        background-color: #FFFFFF;
    }
    /* */
    .dark-mode body {
        background-color: #084C83;
        ;
        color: #FFFFFF;
    }
    .dark-mode .backcolor{
        background-color: #86b2d6;
    }
    .dark-mode .el-drawer {
        background-color: #86b2d6;
      }
    /* */
    .gray-mode body {
        background-color: #ffdeed;
        color: #4f3130;
    }
    .gray-mode .backcolor{
        background-color: #9fa164;

        color: #FFFFFF;
    }

    .gray-mode .el-drawer {
        background-color: #ffc8e2;
        color: #ebebeb;
    }
    
    /* Active link */
    .router-link-active {
    border-bottom: 1px solid rgba(50, 64, 63, 0.2);
    }
    .dark-mode .router-link-active {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .gray-mode .router-link-active {
    border-bottom: 1px solid rgba(207, 207, 207, 0.5);
    }
    /* input */
    textarea,
    input, select{
    padding:.5em;
    display: block;
    max-width: auto;
    margin-top: .2em;
    padding: .5em;
    border: 1px solid rgba(111, 109, 109,.2);
    border-radius: 4px;
    background: none;
    }
    .dark-mode textarea,
    .dark-mode input,
    .gray-mode select  {
    border: 1px solid rgba(199, 197, 197, 0.8);
    }
    .gray-mode textarea,
    .gray-mode input,
    .gray-mode select {
    border: 1px solid rgba(41, 41, 45, 0.8);
    } 